<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letter Math</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            text-align: center;
        }

        .question {
            font-size: 24px;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Letter Math</h1>
        <div id ="current-question">{{ current_question.num1 }} {{ current_question.operation }} {{ current_question.num2 }}?</div>
        <form id="quizForm" action="{{ url_for('check_answer') }}" method="post" enctype="multipart/form-data">
            {% for key, value in current_question.choices.items() %}
                <label>
                    <input type="radio" name="answer" value="{{ key }}">
                    {{ key }}. {{ value }}
                </label><br>
            {% endfor %}
        </form>
        <div id="error-message" class="error-message"></div>

        <button id="recordButton">Record</button>
        <button id="stopButton" disabled>Stop</button>
    </div>
        <div>Your answer:</div>
        <div id="transcript"></div>
    <script src="https://cdn.jsdelivr.net/gh/mattdiamond/Recorderjs@08e7abd9/dist/recorder.js"></script>
    <script>
        //this method of gathering audio input is inspired by this post: https://stackoverflow.com/questions/60032983/record-voice-with-recorder-js-and-upload-it-to-python-flask-server-but-wav-file
        document.addEventListener('DOMContentLoaded', () => {
            const recordButton = document.getElementById('recordButton');
            const stopButton = document.getElementById('stopButton');
            let audioContext;
            let input;
            let rec;
            let gumStream;
            let audioChunks = [];    
            recordButton.addEventListener('click', () => {
                recordButton.disabled = true;
                stopButton.disabled = false;
                navigator.mediaDevices.getUserMedia({ audio: true, video: false })
                    .then(stream => {
                        audioContext = new AudioContext();
                        gumStream = stream;
                        input = audioContext.createMediaStreamSource(stream);
                        rec = new Recorder(input, { numChannels: 1 });
                        rec.record();
                    })
                    .catch(e => console.error(e));
            });
    
            function stop_record() {
                rec.stop();
                gumStream.getAudioTracks()[0].stop();
                rec.exportWAV(sendAudioToServer);
            }
    
            function sendAudioToServer(blob) {
                const formData = new FormData();
                formData.append('audio_data', blob, 'audio.wav');

                fetch('/upload-audio', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    const transcript=data.transcript;
                    console.log('received transcript');
                    const transcript_text = document.getElementById('transcript');
                    transcript_text.innerText=transcript;
                })
                .catch(error => console.error(error));
            }
    
            stopButton.addEventListener('click', () => {
                recordButton.disabled = false;
                stopButton.disabled = true;
                stop_record();
            });
        });
    </script>
</body>
</html>
